System hostname = {{ pxe_install_hostname }}
Password for root account = {{ pxe_install_root_password_hash }}
Public ssh key for root account = {{ pxe_install_root_ssh_pubkey }}
Allow root ssh login = yes
Do you want the X Window System to be started = no
What timezone are you in = {{ pxe_install_timezone }}
Default IPv4 route = dhcp
Location of sets = http
HTTP Server = {{ pxe_install_mirror | regex_replace('^https?://', '') }}
Unable to connect using https. Use http instead = yes
