---
- name: Create Let's Encrypt directories
  file:
    path: "{{ item.dir }}"
    state: directory
    owner: root
    group: wheel
    mode: "{{ item.mode }}"
  loop:
    - { dir: "/etc/ssl/wordspeak.org", mode: "0755" }
    - { dir: "/etc/ssl/private/wordspeak.org", mode: "0700" }
    - { dir: "/etc/letsencrypt/wordspeak.org", mode: "0700" }

#       Also need to add a crontab entry to renew the certificate.
#       See acme-client(1) for an example

- name: Copy (likely outdated) wordspeak certs to allow nginx to start
  copy:
    src: "{{ item.src }}"
    dest: "/etc/ssl/{{ item.dest }}"
    force: no
    owner: root
    group: wheel
    mode: 0444
  loop:
    - { src: /Users/esteele/Code/local_setup-scripts/ansible/roles/nginx_wordspeak.org/files/etc_ssl_wordspeak.org_cert.pem,
        dest: wordspeak.org/cert.pem }
    - { src: /Users/esteele/Code/local_setup-scripts/ansible/roles/nginx_wordspeak.org/files/etc_ssl_wordspeak.org_fullchain.pem,
        dest: wordspeak.org/fullchain.pem }
    - { src: /Users/esteele/Code/local_setup-scripts/ansible/roles/nginx_wordspeak.org/files/etc_ssl_wordspeak.org_chain.pem,
        dest: wordspeak.org/chain.pem }

- name: Copy (likely outdated) wordspeak domain privkeys to allow nginx to start
  copy:
    src: "{{ item.src }}"
    dest: "/etc/ssl/private/{{ item.dest }}"
    force: no
    owner: root
    group: wheel
    mode: 0400
  loop:
    - { src: /Users/esteele/Code/local_setup-scripts/ansible/roles/nginx_wordspeak.org/files/etc_ssl_private_wordspeak.org_privkey.pem,
        dest: wordspeak.org/privkey.pem }

- name: Copy LE account privkeys to allow certificate renewals
  copy:
    src: "{{ item.src }}"
    dest: "/etc/letsencrypt/{{ item.dest }}"
    force: no
    owner: root
    group: wheel
    mode: 0400
  loop:
    - { src: /Users/esteele/Code/local_setup-scripts/ansible/roles/nginx_wordspeak.org/files/etc_letsencrypt_wordspeak.org_acme-staging-privkey.pem,
       dest: wordspeak.org/acme-staging-privkey.pem }
    - { src: /Users/esteele/Code/local_setup-scripts/ansible/roles/nginx_wordspeak.org/files/etc_letsencrypt_wordspeak.org_acme-v01-privkey.pem,
        dest: wordspeak.org/acme-v01-privkey.pem }

- name: Setup webserver parent and acme-client challenge directories
  file:
    path: "/var/www/htdocs/{{ item }}"
    state: directory
    owner: esteele
    group: esteele
    mode: 0755
  loop:
    - staging.wordspeak.org
    - www.wordspeak.org
    - language-explorer.wordspeak.org
    - images.wordspeak.org

- name: copy wordspeak letsencrypt config
  copy:
    src: etc_acme-client.wordspeak-org.conf
    dest: /etc/acme-client.wordspeak-org.conf
    owner: root
    group: wheel
    mode: 0600

- name: reference wordspeak letsencrypt config in acme-client.conf
  lineinfile:
    path: /etc/acme-client.conf
    line: 'include "/etc/acme-client.wordspeak-org.conf"'

- name: Schedule acme-client run via cron
  cron:
    name: Attempt to renew and apply new LE cert
    special_time: weekly
    job: acme-client -v wordspeak.org && rcctl restart nginx

- name: copy wordspeak.org nginx config
  template:
    src: wordspeak-org.conf.j2
    dest: /etc/nginx/sites-enabled/wordspeak-org.conf
    owner: root
    group: wheel
    mode: 0644
  notify: reload nginx
