option  domain-name "{{ internal_domain }}";

subnet {{ dhcpd_serving_subnet }}.0 netmask 255.255.255.0 {
	option routers {{ dhcpd_serving_subnet }}.254;
	option  domain-name-servers {{ dhcpd_serving_subnet }}.254;

	range {{ dhcpd_serving_subnet }}.128 {{ dhcpd_serving_subnet }}.191;
	default-lease-time 86400;
        max-lease-time 604800;

{{ dhcpd_hosts_content }}

}
