set skip on lo

int_if = "{{ internal_interface }}"
local_tcp_services = "{ ssh }"
local_udp_services = "{ domain bootps }"
icmp_types = "{ echoreq }"

match in all scrub (no-df)

block in log
pass out quick

pass in on $int_if proto tcp to port $local_tcp_services
pass in on $int_if proto udp to port $local_udp_services
pass in on $int_if inet proto icmp icmp-type $icmp_types
