server:
        ip-address: 127.0.0.1
	ip-address: {{ unbound_listening_ips }}
	statistics-interval: 3600
	do-ip6: no

	access-control: 0.0.0.0/0 refuse
	access-control: 127.0.0.0/8 allow
	access-control: 192.168.1.0/24 allow
	access-control: 192.168.20.0/24 allow

# Enable dnssec
auto-trust-anchor-file: "/db/root.key"

{{ unbound_local_data_content }}
