---
- name: Manage interface files
  template:
    src: "{{ item }}"
    dest: "/etc/{{ item }}"
    owner: root
    group: wheel
    mode: 0640
  loop: "{{ interface_definitions }}"
  register: interface_management

# This cannot be a handler because we need newly added interfaces to be
#  present because subsequent tasks will load firewall rules that reference
#  those interfaces
- name: Start network  # noqa 503
  command: sh /etc/netstart
  when: interface_management["changed"]

- name: Setup default gateway (/etc/mygate)
  template:
    src: mygate.j2
    dest: /etc/mygate
