server "www.wordspeak.org" {
	listen on * port 80
	alias wordspeak.org
	block return 301 "https://www.wordspeak.org/$REQUEST_URI"

}

server "www.wordspeak.org" {
	listen on * tls port 443
	alias wordspeak.org
	tcp { nodelay }
	tls certificate "/etc/ssl/certs/wordspeak.org.chained.crt"
	tls key "/etc/ssl/certs/wordspeak.org.ssl.key"
	root "/htdocs/www.wordspeak.org"
}

server "staging.wordspeak.org" {
	listen on * port 80
	tcp { nodelay }
	root "/htdocs/staging.wordspeak.org"
}

types {
	include "/usr/share/misc/mime.types"
	application/json	geojson
}
