server {
    server_name staging.wordspeak.org;

    location / {
        root   /var/www/htdocs/staging.wordspeak.org;
        index  index.html;
    }

    access_log  /var/www/logs/staging.wordspeak.org-access.log;
    error_page 404 /pages/404.html;

    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    
    location ~ /\.ht {
        deny  all;
    }
}

