---
# Stop httpd first, so we don't have port clashes
- name: Set openbsd httpd to not auto-start and stop if running
  service:
    name: httpd
    enabled: no
    state: stopped

- name: Create base directory for random parameter
  file:
    path: /etc/ssl/certs/misc
    owner: root
    group: wheel
    state: directory

- name: Generate 2048bit random parameter for nginx DH Elliptic Curves
  command: openssl dhparam -outform pem -out /etc/ssl/certs/misc/nginx-dhparam2048.pem 2048
  args:
    creates: /etc/ssl/certs/misc/nginx-dhparam2048.pem

- name: Create Base Let's Encrypt directories
  file:
    path: "{{ item.dir }}"
    state: directory
    owner: root
    group: wheel
    mode: "{{ item.mode }}"
  loop:
    - { dir: "/var/www/letsencrypt", mode: "0755" }
    - { dir: "/etc/letsencrypt", mode: "0700" }
      #    - { dir: "/etc/letsencrypt/private", mode: "0700" }

# Use copy task rather than file task with touch because we don't want any
#  changes reported on a normal run
- name: Create letsencrypt config if it doesn't exist
  copy:
    content: ""
    dest: /etc/acme-client.conf
    owner: root
    group: wheel
    mode: 0600
    force: no

# Build config by snippets beacuse acme-client doesn't support .d directories
#  meaning we need to modify a file in several roles without having ansible
#  report changes on each run
# acme-client requires signing definitions to be above domain blocks, and we
#  don't guarantee that specifically, but it happens to work out that way
#  because this role runs before domain-specific ones
# FIXME - move account keys out of a domain-specific directory and copying
#  of them into this role
- name: Add signing definitions to letsencrypt config
  blockinfile:
    path: /etc/acme-client.conf
    block: |
      authority letsencrypt {
         api url "https://acme-v02.api.letsencrypt.org/directory"
         account key "/etc/letsencrypt/wordspeak.org/acme-v01-privkey.pem"
      }
      authority letsencrypt-staging {
         api url "https://acme-staging-v02.api.letsencrypt.org/directory"
         account key "/etc/letsencrypt/wordspeak.org/acme-staging-privkey.pem"
      }

- name: Ensure nginx is installed.
  openbsd_pkg:
    name: nginx
    state: present

- name: Create nginx enabled-sites directory
  file:
    path: "/etc/nginx/sites-enabled"
    state: directory
    owner: root
    group: wheel
    mode: 0755

- name: Copy nginx configuration in place.
  copy:
    src: nginx.conf
    dest: /etc/nginx/nginx.conf
    owner: root
    group: wheel
    mode: 0644
  notify:
    - reload nginx

- name: Ensure nginx is started and enabled to start at boot.
  service:
    name: nginx
    state: started
    enabled: yes
