---
# Run this without mitogen. See
#  https://mitogen.networkgenomics.com/ansible_detailed.html#noteworthy-differences
- hosts: all
  gather_facts: no
  strategy: linear
  roles:
    - bootstrap

- hosts: all
  roles:
    - common
    - network
    - pf
    - mail_sender
    - esteele_acct

- hosts: wordspeak
  roles:
    - wordspeak_site

- hosts: frugalfuel
  roles:
    - frugalfuel_site

- hosts: wordspeak
  roles:
    - vpn_concentrator


# Frugalfuel user has a locked account, so we use become so that perms are
#  correct.
- hosts: frugalfuel
  strategy: linear
  roles:
    - frugalfuel_app
  become: yes
  become_method: doas
  become_user: frugalfuel

- hosts: firewalls
  roles:
    - firewall
  vars_files:
    - /Users/esteele/Code/local_setup-scripts/ansible/roles/firewall/vars/private_vars.yml
    - /Users/esteele/Code/local_setup-scripts/ansible/roles/firewall/vars/local_address_vars.yml

- hosts: all
  remote_user: esteele
  roles:
    - esteele_contents
    - git
