
# Interfaces
int_if = "{{ internal_physical_interface }}"
ext_if = "{{ external_virtual_interface }}"

icmp_types = "{ echoreq, unreach }"

# table containing all IP addresses assigned to the firewall
table <firewall> const { self }

# table for permitting timed internet access
table <limited-internet-access> persist

# SSH brute force blackhole
table <ssh-brute-force> persist

# don't filter on the loopback interface
set skip on lo0

block quick from <ssh-brute-force>

# scrub incoming packets
match in all scrub (no-df random-id)

# MSS clamping for pppoe
match on pppoe0 scrub (max-mss 1440)

# outbound traffic prioritisation
# - prioritise low delay ToS packets
match out on $ext_if set prio (3, 4)
#
# prioritise interactive ssh (bulk ssh gets normal treatment)
match out on $ext_if proto tcp to port ssh set prio (3, 5)

# prioritise icmp
match out on $ext_if proto icmp set prio (6, 7)

# prioritise dns
match out on $ext_if proto { tcp, udp } to port domain set prio (6, 7)

# setup a default deny policy
block log

# activate spoofing protection for all interfaces
block in quick from urpf-failed

# pass all traffic to and from the local network.
pass in  on $int_if from $int_if:network modulate state
pass out on $int_if to $int_if:network modulate state

# Allow traffic to ADSL router
pass out on {{ external_physical_interface }} proto { tcp udp icmp } to 192.168.1.1 keep state

# pass tcp, udp, and icmp out on the external (Internet) interface.
# tcp connections will be modulated, udp/icmp will be tracked
# statefully.
pass out on $ext_if proto { tcp udp icmp } all modulate state

pass in on $ext_if proto tcp to ($ext_if) port ssh modulate state \
  (max-src-conn 10, max-src-conn-rate 5/5, \
   overload <ssh-brute-force> flush global)
pass in on $ext_if inet proto icmp icmp-type $icmp_types

# Constrain internet access for device in the limited-internet-access table
block out on $ext_if from <limited-internet-access>
pass out on $ext_if from <limited-internet-access> to <ok-dest-for-limited-access>

# NAT outbound packets
match out on $ext_if from $int_if:network to any nat-to ($ext_if)
